.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#btnPeople {
   background-image: url('./img/people.png');
    background-size: 100% 100%;   
}

#btnCastle {
   background-image: url('./img/castle.png');
    background-size: 100% 100%;
   
}

#btnChivalry {
   background-image: url('./img/chivalry.png');
    background-size: 100% 100%;   
}

#btnReligion {
   background-image: url('./img/religion.png');
    background-size: 100% 100%;     
}
.disabled {
  opacity: 0.1;
  cursor: not-allowed;
}
